<div class="cmp search-overlay order">
  {{#popup-overlay open=open}}
    <nav class="tab-bar item_details_title">
      <section class="left-small">
        <div class="back-arow" {{action 'closeOverlay'}}>
          <i class="fa fa-angle-left"></i>
          <span>{{t 'cancel'}}</span>
        </div>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title">Edit Message</h1>
      </section>
    </nav>
    <div class="canned-message-container">
      {{#if message.id}}
        <div>
          <button class="light-button" {{action "deleteMessage"}}>Delete Message</button>
        </div>  
      {{/if}}  
      <div class="row" style="display: flex;">
        <span clas="small-3 columns" style="flex: 1;text-align: center;">
          Label*
          <div> 
            <span>EN</span> | <span>中文</span>
          </div> 
        </span>
        <span clas="small-9 columns" style="flex: 5;">
          {{#if language}}
            {{textarea type='textarea' value=message.nameEn classNames="message-textarea" rows="5"}}
          {{else}}
            {{textarea type='textarea' value=message.nameZhTw classNames="message-textarea" rows="5"}}
          {{/if}}
        </span>
      </div>  

      <div class="row" style="display: flex;">
        <span clas="small-3 columns" style="flex: 1;text-align: center;">
          Message*
          <div> 
            <span>EN</span> | <span>中文</span>
          </div> 
        </span>
        <span clas="small-9 columns" style="flex: 5;">
          {{#if language}}
            {{textarea type='textarea' value=message.contentEn classNames="message-textarea" rows="10"}}
          {{else}}
            {{textarea type='textarea' value=message.contentZhTw classNames="message-textarea" rows="10"}}
          {{/if}}  
        </span>
      </div>  

      <button {{action "createCannedMessage"}} style="width: 50%;margin-left: 30%;">{{if message.id "Edit" "Create"}}</button>

    </div>  

    
  {{/popup-overlay}}  
</div>