{{input type="checkbox" name=name id=name}}
<label class="radio-button-text" for={{name}}>
  <span class="offer-state">{{t (concat "offer_filters." name)}}</span>
</label>
<i class="fa fa-{{state-filter-icon name}}"></i>
<br>
<label class="radio-button-text state-info" for={{name}}>
  {{#unless noLabel }}
    <span>{{t (concat (concat "offer_filters." name) "_info")}}</span>
  {{/unless}}
</label>
