<div class="cmp search-overlay order">
  {{#popup-overlay open=open}}
    <div class="main-container">
      <div class="row">
        <i class="fa fa-times fa-2x cancel-sort" aria-hidden="true" {{action 'toggleSortPage' target=filterService}} ></i>

        <div class="cancel-sort sort-by">
          Sort By
        </div>
      </div>
      <ul class="list list-activity">
        {{#each sortTypes as |column|}}
          <li class="menu-list" {{action "applySortOn" column.column_name column.is_desc target=filterService}}>
            {{column.column_alias}}
            <i class="fa fa-sort-numeric-{{column.sort}}" aria-hidden="true"></i>
            {{column.sorting_alias}} first
          </li>
        {{/each}}
      </ul>
    </div>
  {{/popup-overlay}}
</div>
