{{input type="checkbox" name=name id=name}}
<label class="radio-button-text" for={{name}}>
  <span class="type">{{t (concat "offer_filters." name)}}</span>
</label>
<i class="fa fa-{{state-filter-icon name}}"></i>
<br>
<label class="radio-button-text type-info" for={{name}}>
  <span>{{t (concat (concat "offer_filters." name) "_info")}}</span>
</label>
