<div class="cmp search-overlay order">
  {{#popup-overlay open=open}}
    <div class="canned-search-container"> 
        <div class="back-arow">
            <i class="fa fa-angle-left"></i>
            <span>{{t 'cancel'}}</span>
        </div>
        <div class="search-field">
            Message Admin
        </div>
    </div>
    <div class="canned-search-container">
        <div clas="small-3 columns text-center tabs selected">
            Canned Message
        </div>
        <div clas="small-3 columns text-center tabs">
            System Message
        </div>
    </div>    

    <div class="canned-message-container">
      <button style="float: right;" {{action 'addMessage'}}>Add Message</button>
      {{#if displayResults}}
        {{#infinite-list height="82vh" loadMore=(action "loadMoreCannedMessages") as |cannedMessages| }}
          <ul>
            {{#each cannedMessages as |cannedMessage|}}
              <li>
                <div class="canned-message-list-container">
                  <div class="message-container">
                    {{canned-content cannedMessage=cannedMessage}}
                </div>
                    <div class='language-container'>
                      <span {{action "setCannedResponse" cannedMessage.contentEn}}>EN</span>
                      <span class="{{if (is-not cannedMessage.contentZhTw) 'disabled'}}"
                        {{action "setCannedResponse" cannedMessage.contentZhTw}}>
                        中文
                      </span>
                    </div>
                  </div>
              </li>
            {{/each}}
          </ul>
        {{/infinite-list}}
      {{/if}}
    </div>
  {{/popup-overlay}}      
</div>