{{#if hasTwilioSupport}}

  <div class="row internet-call-button {{if hidden 'hidden'}}">
      {{#if activeCall}}
        <button class="button expand secondary" {{action "hangupCall" on='click'}}>
          <span id="hangup" class="fa-stack fa hangup-call no-avatar">
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
          </span>
          {{t "review_offer.donor.end_call"}}
        </button>
      {{else}}
        {{#online-button action="makeCall" classNames="expand secondary" tagName="a"}}
          <i class="fa fa-headphones"></i>
          {{t "review_offer.donor.internet_call"}}
        {{/online-button}}
      {{/if}}
  </div>

{{/if}}
