<div class="row">
  <div class="small-12 columns summary recent_offers counts" >
    <div class="counts-row">
      <span>
        <i class="fa fa-inbox"></i><span  class="view_all" {{action 'clearAndApplyStateFilter' 'submitted' target=filterService}}>{{t "dashboard.new_offers"}} </span> ({{offers-count-display offersCount "submitted" false}})&ensp;
        {{#if offersCount.priority_submitted}}
          <i class="fa fa-exclamation-triangle"></i> {{offersCount.priority_submitted}}
        {{/if}}
      </span>

      <span>
        <i class="fa fa-eye"></i><span  class="view_all" {{action 'clearAndApplyStateFilter' 'nonExpiredPublishedOffers' target=filterService}}>{{t "dashboard.shared_offers"}} </span> ({{offers-count-display offersCount "shareable_offers_count" false}})
      </span>
    </div>

    {{#each model.recentOffers as |offer|}}
      {{#link-to 'review_offer' offer}}
        <div class="row offer_header end">
          <div class="small-4 medium-4 large-4 columns">
            <img src={{offer.displayImageUrl}}>
          </div>
          <div class="small-4 medium-4 large-4 columns offer_user_name">
            {{offer.createdBy.fullName}}
          </div>
          <div class="small-4 medium-4 large-4 columns offer_code">
            {{offer.id}}
          </div>
        </div>
      {{/link-to}}
    {{/each}}
    <div align="center" class="view_all">
      <div {{action 'clearAndApplyStateFilter' 'submitted' target=filterService}}>
        {{t "dashboard.view_all_offers"}}
      </div>
    </div>
  </div>
</div>
