<div class="tabs-content donor_details">
  <section class="main-section">

    <div class="sticky-note">
      {{#if showNoteCallToAction}}
        <div class="call-to-action">
          <i aria-hidden="true"><i class="fa fa-sticky-note"></i></i>
          {{t 'review_offer.add_note'}}
        </div>
      {{/if}}
      {{#if stickNoteChanged}}
        <div class="save-button" {{ action 'saveStickyNote' }}>
          <span class="fade-out "> {{t 'review_offer.tap_to_save' }} > </span>
          <i class="fa fa-save"></i>
        </div>
      {{/if}}
      {{auto-resize-textarea
        data-autoresize=false
        name="notes"
        value=currentOffer.notes
        clickAction=(action 'hideNoteCallToAction')
        focusOutAction=(action 'showNoteCallToAction')
        id="sticky-note"}}
    </div>

    <div class="row corporate-donor donor-details">
      <div class="small-5 columns">
        Corporate Donor:
      </div>
      <div class="small-7 columns underline donor-data">
        {{#if currentOffer.companyId}}
        <a {{action "toggleOptions" "displayCompanyOptions"}}>
          {{currentOffer.company.name}}
          <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
        </a>
        <div class="options_menu_list {{if displayCompanyOptions '' 'hidden'}}">
          <div class="option_menu">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            <a {{action "removeCompany"}}>
              Remove corporate donor
            </a>
          </div>
          <div class="option_menu">
            {{#link-to "offer.search_companies" currentOffer.id (query-params prevPath="donor_details") class="change-contact" tagName='div' href=false}}
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Assign different company
            {{/link-to}}
          </div>
          <div class="option_menu">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Edit this company
          </div>
        </div>
        {{else}}
          {{#link-to "offer.search_companies" currentOffer.id (query-params prevPath="donor_details") class="change-contact" tagName='div' href=false}}
          NA, Personal - Add company
          {{/link-to}}
        {{/if}}
      </div>
    </div>

    {{#if donor}}
      <div class="row corporate-donor donor-details">
        <div class="small-5 columns">
          Donor Contact:
        </div>
        <div class="small-7 columns underline donor-data">
          <a {{action "toggleOptions" "displayCompanyOptions"}}>
            {{donor.fullName}}
            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
          </a>
          <div class="options_menu_list {{if displayCompanyOptions '' 'hidden'}}">
            <div class="option_menu">
              <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              <a {{action "removeCompany"}}>
                Remove donor contact
              </a>
            </div>
            <div class="option_menu">
              {{#link-to "offer.search_users" currentOffer.id (query-params prevPath="donor_details") class="change-contact" tagName='div' href=false}}
                <i class="fa fa-search-plus" aria-hidden="true"></i>
                Assign different donor
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>

      <div class="row corporate-donor donor-details">
        <div class="small-5 columns">
          Donor mobile:
        </div>
        <div class="small-7 columns underline donor-data">
          <a {{action "toggleOptions" "displayDonorMobileOptions"}}>
            {{goodcityNumber}}
            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
          </a>
          <div class="options_menu_list {{if displayDonorMobileOptions '' 'hidden'}}">
            <div class="option_menu">
              <i class="fa fa-headphones" aria-hidden="true"></i>
              <a {{action "removeCompany"}}>
                Call donor over internet
              </a>
            </div>
            <div class="option_menu">
              {{#link-to "offer.search_companies" currentOffer.id (query-params prevPath="donor_details") class="change-contact" tagName='div' href=false}}
                <i class="fa fa-phone" aria-hidden="true"></i>
                call donor using phone
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>

      <div class="row corporate-donor donor-details">
        <div class="small-5 columns">
          Donor email:
        </div>
        <div class="small-7 columns underline donor-data">
          <a {{action "toggleOptions" "displayCompanyOptions"}}>
            {{#if donor.email}}
              {{donor.email}}
              <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
            {{/if}}
          </a>
          {{!-- <div class="options_menu_list {{if displayCompanyOptions '' 'hidden'}}">
            <div class="option_menu">
              <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              <a {{action "removeCompany"}}>
                Remove donor contact
              </a>
            </div>
            <div class="option_menu">
              {{#link-to "offer.search_companies" currentOffer.id (query-params prevPath="donor_details") class="change-contact" tagName='div' href=false}}
              <i class="fa fa-search-plus" aria-hidden="true"></i>
              Assign different donor
              {{/link-to}}
            </div>
          </div> --}}
        </div>
      </div>

      <div class="row corporate-donor donor-details">
        <div class="small-5 columns">
          Donor alt phone:
        </div>
        <div class="small-7 columns underline donor-data">
          <a {{action "toggleOptions" "displayAltPhoneOptions"}}>
            {{goodcityNumber}}
            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
          </a>
          <div class="options_menu_list {{if displayAltPhoneOptions '' 'hidden'}}">
            <div class="option_menu">
              <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              <a {{action "removeCompany"}}>
                Remove donor contact
              </a>
            </div>
            <div class="option_menu">
              {{#link-to "offer.search_companies" currentOffer.id (query-params prevPath="donor_details") class="change-contact" tagName='div' href=false}}
              <i class="fa fa-search-plus" aria-hidden="true"></i>
              Assign different donor
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>

      <div class="row corporate-donor donor-details">
        <div class="small-5 columns">
          Donors location:
        </div>
        <div class="small-7 columns donor-data">
          {{donor.address.district.name}}
        </div>
      </div>

      <div class="row corporate-donor donor-details">
        <div class="small-5 columns">
          {{t "review_offer.donor.registered"}}:
        </div>
        <div class="small-7 columns donor-data">
          {{time-ago timeValue=donor.createdAt smallPrefix=false}}
        </div>
      </div>

      <div class="row corporate-donor donor-details">
        <div class="small-5 columns">
          {{t "review_offer.donor.last_seen"}}:
        </div>
        <div class="small-7 columns donor-data">
          {{#if donor.onlineStatus}}
            {{donor.onlineStatus}}
          {{else}}
            {{time-ago timeValue=donor.lastDisconnected smallPrefix=false}}
          {{/if}}
        </div>
      </div>

      <div class="row corporate-donor donor-details">
        <div class="small-5 columns">
          {{t "review_offer.donor.total_offers"}}:
        </div>
        <div class="small-7 columns donor-data">
          {{offersCount}}
          {{#if receivedOffers}}
            ({{receivedOffers}} {{t "finished.received"}})
          {{/if}}
        </div>
      </div>

      <hr>

      <div class="row corporate-donor donor-details">
        <div class="small-5 columns">
          Sale allowed:
        </div>
        <div class="small-7 columns donor-data">
          {{#if currentOffer.saleable}}
            Yes
          {{else}}
            No
          {{/if}}
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="small-12 columns item-content">
          All {{donor.fullName}}'s offers on GoodCity:

          <ul class="list list-activity list-offer-items">
            {{#each donorOffers as |offer|}}
              {{partial 'offers/offer_details'}}
            {{/each}}
          </ul>
        </div>
      </div>
    {{else}}
      <div class="row donor-details">
        <div class="small-5 columns">
          Donor Contact:
        </div>
        <div class="small-7 columns underline donor-data">
          {{#link-to "offer.search_users" currentOffer.id (query-params prevPath="donor_details") class="change-contact" tagName='div' href=false}}
            Missing - Add contact
          {{/link-to}}
        </div>
      </div>
    {{/if}}
  </section>
</div>
