
<div class="row search-box ui">
  <div class="row">
    <div class="small-2 columns back-icon" {{action "cancelSearch"}}>
      <i class="fa fa-angle-left"></i>
      <span>{{t 'offer_filters.back'}}</span>
    </div>
    <div class="small-10 columns">
      {{focus-textfield
        name="searchText"
        id="searchText"
        placeholder=(t 'search.placeholder')
        value=searchText }}

      {{#if hasSearchText}}
        <i class="fa fa-times-circle clear-search" {{action "clearSearch"}}></i>
      {{/if}}
    </div>
  </div>
  {{!-- {{offer-filters-button}} --}}
</div>

<section class="main-section review_offer search search_offer">
  <div class="row">
    <div class="small-12 columns item-content">
      {{#if displayResults}}
        {{#infinite-list height="82vh" loadMore=(action "loadMoreCompanies") as |items| }}
          <ul class="list list-activity list-offer-items">
            {{!-- {{#each items as |offer|}}
              {{partial 'offers/offer_details'}}
            {{else}}
              <div class="no_result">{{t "search.no_results"}}</div>
            {{/each}} --}}
          </ul>
        {{/infinite-list}}
      {{/if}}
    </div>
  </div>
</section>
