<div class="editor">
  <div class="overlay-content editor-content">
    <div class="header row">
      <div class="close-button columns small-3">
        <span {{action 'cancelEdit'}}>
          <i class="fa fa-chevron-left"></i>
          {{t 'cancel'}}
        </span>
      </div>
      <div class="offer-title columns small-6">{{t 'review_offer.share_offer'}} {{offer.id}}</div>
      <div class="close-button columns small-3"></div>
    </div>

    <div class="sharing-mode-selection">
      <div class="sharing-info">
        {{t "review_offer.share.info"}}
      </div>

      <div class="row ui">
        <div class="small-5 columns">
          {{t "review_offer.share_offer_until"}} *
        </div>
        <div class="small-7 columns stop-share-input">
          {{datetime-selector selectedDateTime=stopSharingAt}}
        </div>
      </div>

      <div class="row ui">
        <div class="small-5 columns listing-text">
          {{t "review_offer.include_in_listing"}} <i class="fa fa-eye"></i>
        </div>
        <div class="small-7 columns">
          {{input type="checkbox"
            class="show-listing-checkbox"
            id='showInListing'
            checked=allowListingEnabled}}
        </div>
      </div>
    </div>


    <div class="row notes-edition large padded">
      <div class="notes-lang-selection">
        <span class="lang {{if showZhNotes 'unselected' 'selected'}}" {{action (mut showZhNotes) false}}>{{t 'review_offer.offer_instructions_en'}}</span> |
        <span class="lang {{if showZhNotes 'selected' 'unselected'}}" {{action (mut showZhNotes) true}}>{{t 'review_offer.offer_instructions_zh'}} *</span>
      </div>
      <div class="notes-subtitle">{{t 'review_offer.offer_instructions_details' }}</div>
      <div class="notes-text">
        {{#if showZhNotes}}
          {{textarea type='textarea' value=notesZh placeholder=(t 'notes_zh')}}
        {{else}}
          {{textarea type='textarea' value=notesEn placeholder=(t 'notes_en')}}
        {{/if}}
      </div>
    </div>
    <div class="package-sharing">
      <div class="package-header flex space-between">
        <div class="bold">{{t 'review_offer.items_to_share'}}</div>
        <div class="underlined" {{action 'toggleSelectAllPackages'}}>{{t 'review_offer.select_all'}}</div>
      </div>
      <div class="package-list">
        {{#each packageList as |pkgRow|}}
          <div class="package">
            <div class="row">
              <div class="columns small-4 medium-2 large-2">
                <div class="package-image" style="background-image: url({{ pkgRow.package.displayImageUrl }})">
                  <div class="package-state {{pkgRow.package.item.state}}">
                    {{t (concat 'offer.offer_details.' pkgRow.package.item.state)}}
                  </div>
                </div>
              </div>
              <div class="columns small-8 medium-10 large-10">
                <div class="row package-name">
                  <div class="columns small-11">
                    {{pkgRow.package.receivedQuantity}} x {{pkgRow.package.packageName}}
                  </div>
                  <div class="columns small-1">
                    {{input type="checkbox"  class="package-share-checkbox" id=(concat 'sharePackage' pkgRow.package.id) checked=pkgRow.shared}}
                  </div>
                </div>
                <div class="row notes-edition">
                  <div class="notes-lang-selection">
                    <span class="lang {{if pkgRow.zhNotes 'unselected' 'selected'}}" {{action (mut pkgRow.zhNotes) false}}>{{t 'notes_en'}}</span> |
                    <span class="lang {{if pkgRow.zhNotes 'selected' 'unselected'}}" {{action (mut pkgRow.zhNotes) true}}>{{t 'notes_zh'}}</span>
                    {{#if pkgRow.package.notesZhTw}}<sup>●</sup>{{/if}}
                  </div>

                    {{#if pkgRow.zhNotes}}
                    <div class="notes-text">
                      {{textarea type='textarea' value=pkgRow.package.notesZhTw placeholder=(t 'notes_zh')}}
                    </div>
                    {{else}}
                    <div class="notes-text {{unless pkgRow.package.notes 'error'}}">
                      {{textarea type='textarea'
                        value=pkgRow.package.notes
                        placeholder=(t 'notes_en')}}
                    </div>
                    {{/if}}

                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    {{#unless hasSelectedPackages}}
    <div class="sharing-warning">
      <i class="fa fa-exclamation-triangle"></i>
      {{t "review_offer.share.select_package"}}
    </div>
    {{/unless}}

    <div class="button-row row">
      <div class="columns small-6">
        <button class="light" {{action 'cancelEdit'}}>
          {{t 'not_now'}}
        </button>
      </div>
      <div class="columns small-6">
        <button {{action 'applyChanges'}} class="{{unless allowSharing 'disabled'}}">
          {{t 'save_changes'}}
        </button>
      </div>
    </div>

    {{#if isShared}}
    <div class="delete-sharing-link" {{action "deleteSharing"}}>
      {{t "review_offer.share.delete_sharing_link"}}
    </div>
    {{/if}}
  </div>
</div>
