<div class="button-container flex space-between">
    {{#if isShared}}
      <div>
        <span class="charities-link">
          <a target="_blank" href="{{unbound offerLink}}">
            {{t 'review_offer.view_shared_offer'}}
          </a>
        </span>
        <i class="fa fa-external-link fa-lg"></i>
      </div>
    {{/if}}
    <button class="button add-item" {{action 'startEdit'}}>
    {{#if isShared}}
      <span>{{t "review_offer.modify_sharing"}}</span>
    {{else}}
      <i class="fa fa-eye-slash fa-lg"></i>
      <span>{{t "review_offer.share_offer"}}</span>
    {{/if}}
  </button>
</div>
{{#unless isShared}}
  <div class="explanation-text">
    {{t "review_offer.share_offer_explanation"}}
  </div>
{{/unless}}

{{#if showEditor}}
  {{partial "review_offer/share/editor"}}
{{/if}}
