<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li>{{#link-to 'dashboard.index'}}{{t "dashboard.title"}}{{/link-to}}</li>
    <li><a href="#" class="create-offer-btn" {{action 'createOffer'}}>{{t "inbox.create_offer"}}</a></li>
    {{#if session.currentUser.canManageUsers}}
      <li>{{#link-to 'users'}}{{t "inbox.users"}}{{/link-to}}</li>
    {{/if}}
    {{#if session.currentUser.isSupervisor}}
      <li>{{#link-to 'holidays'}}{{t "inbox.holidays"}}{{/link-to}}</li>
    {{/if}}
    <li><a href="#" {{action 'logMeOut'}}>{{t "application.logout"}}</a></li>
  </ul>

  {{partial "app_version"}}
</aside>
