<div id="{{concat 'stockitAddItemModal' package.id}}" class="stockitAddItemModal ui">

  <nav class="tab-bar new-item-nav">
    <section class="tab-bar-section">
      <h1 class="title">{{t "items.title" packageName=package.packageName}}</h1>
    </section>
  </nav>

  <div class="new-item-attrs">

    {{validate-inputs
      elementCssIdentifiersArrayJson='["#quantity", "#description", "#inventoryNumber"]'
      errorClass='form__control--error'
      buttonId='#receive-button'
    }}

    <div class="row">
      <div class="small-9 columns">
        <div class="row">
          <div class="small-4 columns item-label">
            {{t 'items.add_item.quantity'}}*
          </div>
          <div class="small-8 columns">
            {{numeric-input id='quantity' name="qty" value=packageForm.quantity placeholder=(t "placeholder.qty") maxlength="8" pattern="\d{1,8}"}}
            {{#if isInvalidQuantity}}
            <div id="quantity-err" class='input-error-msg dimension-block validation-err'>
              {{t 'items.validation.quantity'}}</div>
            {{/if}}
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns item-label">
            {{t 'items.add_item.type'}}*
          </div>
          <div class="small-8 columns">
            {{input value=package.packageName disabled=true}}
          </div>
        </div>
      </div>

      <div class="small-3 columns">
        <span class="image-box" {{action 'assignImageToPackage'}}>
          {{#if package.item.displayImageUrl}}
          <img src={{package.item.displayImageUrl}} class="thumb" />
          {{else}}
          <i class="fa fa-camera"></i><br />
          {{t 'items.add_item.add_images'}}
          {{/if}}
        </span>
      </div>
    </div>

    <div class="row description-block">
      <div class="small-3 columns item-label">
        {{t 'items.add_item.description'}}*
      </div>
      <div class="small-9 columns">
        <i class="remove-text fa fa-times-circle" aria-hidden="true" {{action "clearDescription"}}></i>
        {{auto-resize-textarea data-autoresize=true name="notes" value=description placeholder=(t "placeholder.comments") maxlength="50" required="required" pattern=".*\S.*" id='description'}}
        <div class='input-error-msg'>{{t 'items.validation.description'}}</div>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns item-label">{{t 'items.add_item.quality'}}*</div>

      <div class="small-4 columns">
        {{select-list
          content=grades
          on-change=(action (mut selectedGrade))
          selectedValue=selectedGrade
          value=selectedGrade
          selectArrow=true }}
      </div>

      <div class="small-5 columns end">
        {{select-list
          content=donorConditions
          on-change=(action (mut selectedCondition))
          selectedValue=selectedCondition
          value=selectedCondition
          selectArrow=true }}
      </div>
    </div>

    <div class="row location-block">
      <div class="small-3 columns item-label">{{t 'items.add_item.location'}}*</div>
      <div class="small-9 columns">
        {{custom-select2 id="location-select" content=locations record=location recordId=locationId placeholder=(t "receive_package.add_location")}}
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns item-label">{{t 'items.add_item.size'}}</div>
      <div class="small-3 columns">
        {{numeric-input id=(concat 'length' package.id) value=packageForm.length placeholder=(t "placeholder.length") maxlength="3" pattern="\d{1,8}"}}
      </div>
      <div class="small-3 columns">
        {{numeric-input id=(concat 'width' package.id) name="width" value=packageForm.width placeholder=(t "placeholder.width") maxlength="3" pattern="\d{1,8}"}}
      </div>
      <div class="small-3 columns end">
        {{numeric-input id=(concat 'height' package.id) name="height" value=packageForm.height placeholder=(t "placeholder.height") maxlength="3" pattern="\d{1,8}"}}
      </div>
    </div>
    {{#if isInvalidDimension}}
    <div class="row">
      <div class="small-3 columns item-label"></div>
      <div class='small-8 columns input-error-msg dimension-block'>{{t 'items.validation.dimensions'}}</div>
    </div>
    {{/if}}
    <div class="form-footer">
      <div class="row">
        <div class="small-3 columns item-label">{{t 'items.add_item.labels'}}</div>
        <div class="small-3 columns">
          {{numeric-input id="labels" name="labels" class="label" value=packageForm.labels placeholder="labels" maxlength="3" pattern="\d{1,8}"}}
          {{#if isInvalidaLabelCount}}
          <div id="label-empty-err" class='input-error-msg dimension-block validation-err'>
            {{t 'items.validation.labels'}}
          </div>
          {{/if}}
          {{#unless isInvalidPrintCount}}
          <div id="max-val-err" class='input-error-msg dimension-block validation-err'>
            {{t 'items.validation.max_lable_count'}}</div>
          {{/unless}}
        </div>
        <div class="small-2 columns item-label">
          {{t 'items.add_item.inventory'}}#
        </div>
        <div class="small-3 columns end">
          {{#if inputInventory}}
          {{numeric-input id='inventoryNumber' name="inventoryNumber" value=inventoryNumber placeholder="Inventory Number" maxlength="8" pattern="\d{1,8}"}}
          {{else}}
          <span class="invenory-number">
            {{inventoryNumber}}
          </span>
          {{/if}}

          <div class='input-error-msg'>{{t 'items.validation.inventory_number'}}</div>
        </div>
        <div class="small-1 columns">
          {{partial "inventory_options"}}
        </div>
      </div>

      <div class="row">
        {{#if showPublishItemCheckBox}}
        <div class="small-3 columns item-label">{{t 'items.add_item.publish'}}</div>
        <div class="small-3 columns end">
          {{input type="checkbox"  class="publish" id=(concat 'publishItem' package.id) checked=isAllowedToPublish}}
        </div>
        {{/if}}
        <div class="small-2 columns item-label">
          <label>{{t "items.add_item.printer"}}</label>
        </div>
        <div class="small-3 columns printer-dropdown">
          <div class="dropdown-wrap">
            {{searchable-select
                    content=printers
                    selected=selectedPrinter
                    sortBy="name"
                    prompt="Select"
                    optionLabelKey="tag"
                    isClearable=false
                  }}
          </div>
        </div>
      </div>

      <div class="row receive-buttons">
        <div class="small-6 columns">
          <a class="button expand secondary closeLink action1" {{action 'moveBack'}}>{{t "receive_package.cancel"}}</a>
        </div>
        <div class="small-6 columns">
          <button id='receive-button' disabled={{disableReceiveButton}} class="button expand action2 confirmLink"
            {{action 'receivePackage'}}>
            {{t "items.add_item.receive"}}
            {{#if isMultipleCountPrint}}
            {{t "items.add_item.print" labels=printLabelCount}} <i class='fa fa-print'></i>
            {{/if}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
