<nav class="tab-bar offer_details_title non-draft">
  <section class="left-small">
    <div class="back" {{action 'transitionTo' backLinkPath}}>{{t "back"}}</div>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title offer-title-padding">{{partial 'offer_title'}}</h1>
  </section>

  <section class="right-small review_offer_options">
    {{partial "review_offer_options"}}
  </section>
</nav>

<section class="main-section review_offer offer_details">

  {{offer-status-message
    offer=offer
    isStartReviewClicked=isStartReviewClicked
    startReview="startReview" displayCompleteReviewPopup=displayCompleteReviewPopup
    displayCompleteReceivePopup=displayCompleteReceivePopup
  }}

  <div class="row">
    <div class="">
      <dl class="tabs flex no-wrap space-between" data-tab>

        <dd class="text-center">
          {{#link-to 'review_offer.items'}}
            <i class="fa fa-comment-o fa-2x"></i>
            <div>{{t "offer.title"}}</div>
          {{/link-to}}
        </dd>

        <dd class="text-center">
          {{#link-to 'review_offer.donor_details'}}
            <i class="fa fa-id-card-o fa-2x"></i>
            <div>{{t "offer.donor"}}</div>
          {{/link-to}}
        </dd>

        <dd class="text-center">
          {{#link-to 'review_offer.logistics'}}
            <i class="fa fa-truck fa-2x"></i>
            <div>{{t "offer.transport"}}</div>
          {{/link-to}}
        </dd>

        <dd class="text-center">
          {{#link-to 'review_offer.receive'}}
            <i class="fa fa-sign-in fa-2x"></i>
            <div>{{t "review_offer.receive"}}</div>
          {{/link-to}}
        </dd>

        <dd class="text-center">
          {{#link-to 'review_offer.share'}}
            {{#if isShared}}
              <i class="fa fa-eye fa-2x"></i>
            {{else}}
              <i class="fa fa-eye-slash fa-2x"></i>
            {{/if}}
            <div>{{t "review_offer.share.title"}}</div>
            {{#if unreadCharityMessages.length}}
              <div class="notification-circle top-right">
                {{unreadCharityMessages.length}}
              </div>
            {{/if}}
          {{/link-to}}
        </dd>
      </dl>

      {{outlet}}
    </div>
  </div>
</section>
