{{#visit-page-start}}
  <div class="row search-box ui">
    <div class="small-2 columns back-icon" {{action "cancelSearch"}}>
      <i class="fa fa-angle-left"></i>
      <span>{{t 'offer_filters.back'}}</span>
    </div>
    <div class="small-10 columns">
      {{input
        type="text"
        name="searchText"
        id="searchText"
        placeholder=(t 'users.search')
        value=searchText }}
      {{#if hasSearchText}}
        <i class="fa fa-times-circle clear-search" {{action "clearSearch"}}></i>
      {{/if}}
    </div>
  </div>

  <section class="main-section review_offer search users">
    <div class="row">
      <div class="small-12 columns item-content">
        {{#if filteredResults}}
          <ul class="list list-activity list-offer-items">
            {{#each filteredResults as |user|}}
              <li>
                {{#link-to 'user' user.id}}
                  {{user.fullName}} {{user.roleInitials}}
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        {{else if hasFilter}}
          <div class='no_result'>{{t "search.no_results"}}</div>
        {{/if}}
      </div>
    </div>
  </section>
{{/visit-page-start}}
